@{
    ViewData["Title"] = "Post an Announcement";
}

<div class="center-div">
    <h1 class="text-primary">Post an Announcement!</h1>
    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row my-2">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-10">
                        <select name="brand" asp-items="Html.GetEnumSelectList<RentNGoApp.DataModels.Brand>()" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label class="col-sm-2 col-form-label">Color</label>
                    <div class="col-sm-10">
                        <select name="color" asp-items="Html.GetEnumSelectList<RentNGoApp.DataModels.Color>()" class="form-select">
                        </select>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" id="price" name="price" class="form-control" placeholder="Price">
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label class="col-sm-2 col-form-label">Images</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" id="imgs" name="imgs" multiple>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row my-2">
                    <div class="col-sm-12">
                        <textarea type="text" id="description" name="description" class="form-control" placeholder="Description" rows="9"  ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Submit</button>
    </form>
</div>
